.pageThree section {
  display: flex;
  flex-direction: row;
}
.pageThree section div {
  margin: 16px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageThree section div:first-child {
  border: 1px solid #DCDFE6;
}
.pageThree section div:nth-child(2) {
  border: 1px solid #E4E7ED;
}
.pageThree section div:nth-child(3) {
  border: 1px solid #EBEEF5;
}
.pageThree section div:last-child {
  border: 1px solid #F2F6FC;
}