$primary-text: #303133;
$normal-text: #606266;
$sub-text: #909399;

$first-level-border: #DCDFE6;
$second-level-border: #E4E7ED;
$three-level-border: #EBEEF5;
$four-level-border: #F2F6FC;

$basic-black: #000000;