.app-header {
  background-color: #DCDFE6;
  box-sizing: border-box;
  text-align: center;
  /* box-shadow: 1px 1px 5px black; */
}

.app-aside {
  background-color: #C0C4CC;
  box-sizing: border-box;
  overflow-y: scroll;
  /* box-shadow: 1px 1px 5px black; */
}

.app-main {
  background-color: #ffffff;
}

.app-footer {
  background-color: #DCDFE6;
  box-sizing: border-box;
  text-align: center;
  /* box-shadow: 1px 1px 5px black; */
}

ul li {
  list-style: none;
  height: 50px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.searchInput {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput input {
  padding: 4px 6px;
  border-radius: 20px;
  border: none;
  outline: none;
  height: 25px;
  width: 170px;
}

.searchInput input::placeholder {
  color: #909399;
  text-align: center;
}